<%- include('header') %>
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
      <%- include('nav-side') %>
    <!-- Main content -->
    <div class="col-md-10">
      <div class="container-fluid">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="page">Coupon</h1>
        </div>

        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/admin/admin_dashboard">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="/admin/coupon">Coupon</a>
                  </li>
                  <li class="breadcrumb-item active">Add Coupon</li>
                </ol>
              </nav>
          </div>
        </div>

        <form action="/admin/add_coupon" method="post">
            <div class="row form-group mb-2">
              <p class="text-center text-danger fw-bold"><%= mes %></p>
                <div class="col text-start fw-bold">
                    <label for="coupon_code">Coupon code</label>
                    <!-- <input type="text" class="form-control form-control-md mt-2" id="coupon_code" name="coupon_code" value="" placeholder="Enter coupon code" required> -->
                    <input type="text" class="form-control form-control-md mt-2" id="coupon_code" name="coupon_code" value="<%= old?.coupon_code || '' %>" placeholder="Enter coupon code" required>

                    <% if (errors && errors.coupon_code) { %>
                        <span class="text-danger"><%= errors.coupon_code.msg %></span>
                    <% } %>  
                </div>
                <div class="col text-start fw-bold">
                    <label for="discount_percentage">discount percentage</label>
                    <input type="text" class="form-control form-control-md mt-2" id="discount_percentage" name="discount_percentage" value="<%= old?.discount_percentage || '' %>" placeholder="Enter discount_percentage" required>

                    <!-- <input type="text" class="form-control form-control-md mt-2" id="discount_percentage" name="discount_percentage" value="" placeholder="Enter discount_percentage" required> -->
                    <% if (errors && errors.discount_percentage) { %>
                        <span class="text-danger"><%= errors.discount_percentage.msg %></span>
                    <% } %> 
                </div>
            </div>

            <div class="row form-group mb-2">
                <div class="col text-start fw-bold">
                    <label for="coupon_name"  >Coupon name</label>
                    <input type="text" class="form-control form-control-md mt-2" id="coupon_name" name="coupon_name" value="<%= old?.coupon_name || '' %>" placeholder="Enter coupon name" required>

                    <!-- <input type="text" class="form-control form-control-md mt-2" id="coupon_name" name="coupon_name" value="" placeholder="Enter coupon name" required> -->
                    <% if (errors && errors.coupon_name) { %>
                        <span class="text-danger"><%= errors.coupon_name.msg %></span>
                    <% } %> 
                </div>
                <div class="col text-start fw-bold">
                    <label for="expire_date">Expire Date</label>
                    <input type="date" class="form-control form-control-md mt-2" id="expire_date" name="expire_date" value="<%= old?.expire_date ? old.expire_date.substring(0, 10) : '' %>" required>

                    <!-- <input type="date" class="form-control form-control-md mt-2" id="expire_date" name="expire_date" value="" placeholder="Enter expire date" required> -->
                      <% if (errors && errors.expire_date) { %>
                        <span class="text-danger"><%= errors.expire_date.msg %></span>
                    <% } %> 
                    <span id="errorDate"></span>                   
                </div>
                
            </div>
            
            <div class="row form-group mb-2">
              <div class="col text-start fw-bold">
                  <label for="minimum_amount">Minimum amount</label>
                  <input type="text" class="form-control form-control-md mt-2" id="minimum_amount" name="minimum_amount" value="<%= old?.minimum_amount || '' %>" placeholder="Enter minimum amount" required>

                  <!-- <input type="text" class="form-control form-control-md mt-2" id="minimum_amount" name="minimum_amount" value="" placeholder="Enter minimum amount" required> -->
                  <% if (errors && errors.minimum_amount) { %>
                      <span class="text-danger"><%= errors.minimum_amount.msg %></span>
                  <% } %> 
              </div>
            
          </div>
            <button type="submit" class="btn btn-outline-dark mt-4 col-md-3 text-center">submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const expireDateInput = document.getElementById('expire_date');
    const errorDateSpan = document.getElementById('errorDate');

    expireDateInput.addEventListener('input', function () {
      const expireDate = new Date(expireDateInput.value);
      const currentDate = new Date();
      
      if (expireDate <= currentDate) {
        errorDateSpan.textContent = 'select a valid expire date.';
        errorDateSpan.style.color = 'red';
        expireDateInput.classList.add('is-invalid');
      } else {
        errorDateSpan.textContent = '';
        expireDateInput.classList.remove('is-invalid');
      }
    });
  });
</script>

<%- include('footer.ejs') %>
