<%- include('header') %>
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
      <%- include('nav-side') %>
    <!-- Main content -->
    <div class="col-md-10">
      <div class="container-fluid">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="page">Customers</h1>
        </div>

        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/admin/admin_dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Customers</li>
              </ol>
            </nav>
          </div>
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="Search...">
        </div>
        </div>

        <div class="table-responsive" >
          <div style="max-height: 500px; overflow-y: auto;">
          <table class="table table-striped table  justify-content-center border">
            <thead class="text-center">
              <tr>
                <th scope="col" class="border">ID</th>
                <th scope="col" class="border">Name</th>
                <th scope="col" class="border">Email</th>
                <th scope="col" class="border">Status</th>
                <th scope="col" class="border">Action</th>
              </tr>
            </thead>
            <tbody >
              <% customerData.forEach((element, index) => { %>
              <tr class="align-middle text-center">
                <td class="border"><%= index +1 %></td>
                <td class="border"><%= (element.first_name && element.last_name) ? (element.first_name + ' ' + element.last_name) : element.user_name %></td>
                <td class="border"><%= element.email ? element.email : element.user_email %></td>
                <td class="border"><%= element.is_block? 'Blocked' : 'Active' %></td>
                <td class="border"><a href="/admin/customers_action/<%= element._id %>"> 
                  <% if (element.is_block) { %>
                    <button class="btn cus-btn btn-md btn-primary">Unblock</button>
                  <% } else if (!element.is_block) { %>
                    <button class="btn cus-btn btn-md btn-danger">Block</button></a></td>
                  <% } %>
                <!-- <td></td> -->
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        </div>

      </div>
    </div>
  </div>
</div>

<%- include('footer.ejs') %>
