<%- include('nav-bar') %>

<div class="row d-flex justify-content-center align-items-center mt-5 pt-5 h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong rounded bg-white">
            <div class="card-body px-5 py-3 text-center">
                <h3 class="mb-5">forgot password</h3>
                <span class="text-danger fw-bold"><%= mes %></span>
                <form action="/forgot_password" method="post">
                    <div class="form-outline text-start">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" required>
                        <% if (errors && errors.email) { %>
                            <span class="text-start text-danger"><%= errors.email.msg %></span>
                          <% } %> 
                    </div>

                    <div class="form-outline text-start mt-3">
                        <label class="form-label" for="password">New password</label>
                        <input type="password" id="new_password" name="new_password" class="form-control" placeholder="Example password : Abcdef123!" required>
                        <% if (errors && errors.new_password) { %>
                            <span class="text-start text-danger"><%= errors.new_password.msg %></span>
                          <% } %> 
                    </div>

                    <div class="form-outline text-start mt-3">
                        <label class="form-label" for="password">Confirm new password</label>
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="confirm your new password" required>
                        <% if (errors && errors.confirm_password) { %>
                            <span class="text-start text-danger"><%= errors.confirm_password.msg %></span>
                          <% } %> 
                    </div>
                    <button class="btn btn-outline-dark mt-3" type="submit">submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="mb-5">f</div>
<div class=""><%- include('footer') %></div>
