<style>
    body{margin-top:20px;
background-color:#f2f6fc;
color:#69707a;
}
.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #040a12;
    border-bottom-color: #010408;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
ul{
    list-style-type: none; 
    padding: 0px;
}
</style>
<%- include('nav-bar') %>
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4  ">
        <h1 class="page">My profile</h1>
      </div>
    <nav class="nav nav-borders">
        <a class="nav-link ms-0 " href="/user_profile" >My profile</a>
        <a class="nav-link active" href="/user_profile_address">Address management</a>
        <a class="nav-link" href="/user_profile_security">Password management</a>
      
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div style="max-height: 350px; overflow-y: auto; overflow-x: hidden;">
                <% user.address.forEach((element,index) => { %>
                    <div class="card mb-4 mb-xl-0 mt-2">
                        <div class="card-header">My address(<%= index+1 %>)</div>
                        
                        <div class="card-body text-center">
                            <!-- Profile picture image-->
                            <ul class="text-start">
                                <li><span class="fw-bold">Street:</span> <%= element.street %></li>
                                <li> <span class="fw-bold">City:</span> <%= element.city %></li>
                                <li><span class="fw-bold">District:</span> <%= element.district %></li>
                                <li><span class="fw-bold">State:</span> <%= element.state %></li>
                                <li><span class="fw-bold">Country:</span> <%= element.country %></li>
                                <li><span class="fw-bold">Zip code:</span> <%= element.zip_code %></li>
                            </ul>
                        </div>
                        <div class="d-flex justify-content-end mb-2">
                            <a href="/user_profile_address_edit/<%= index %>">
                                <button class="btn btn-dark me-1">Edit</button>
                            </a>
                            
                            <!-- <a href="/user_profile_address_delete/<%= element._id %>"> -->
                                <button class="btn btn-dark me-3 delete-btn">Delete</button>
                            <!-- </a>  -->
                            
                        </div>
                    </div>

                    <!-- delete modal -->
                    <div class="modal fade" id="deleteModal_<%= index %>" tabindex="-1" aria-labelledby="deleteModalLabel_<%= index %>" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel_<%= index %>">Confirm Deletion</h5>
                                    <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this address?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                    <a href="/user_profile_address_delete/<%= element._id %>">
                                        <button type="button" class="btn btn-dark">Delete</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                <% }) %>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4 mt-2">
                <div class="card-header">You can add your new address details here !</div>
                <div class="card-body">
                    <form  action="/user_profile_address/<%= user._id %>" method="post">
                        <!-- Form Row-->
                        <div class="row gx-3 mb-2">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Street</label>
                                <input class="form-control" id="inputFirstName" type="text" name="street" placeholder="Enter your first name" value="" required>
                                <% if (errors && errors.street ) { %>
                                    <span class="text-start text-danger"><%= errors.street.msg %></span>
                                  <% }%>
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">City</label>
                                <input class="form-control" id="inputLastName" type="text" name="city" placeholder="Enter your last name" value="" required>
                                <% if (errors && errors.city ) { %>
                                    <span class="text-start text-danger"><%= errors.city.msg %></span>
                                  <% }%>
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">District</label>
                                <input class="form-control" id="inputOrgName" type="text" name="district" placeholder="Enter your organization name" value="" required>
                                <% if (errors && errors.street ) { %>
                                    <span class="text-start text-danger"><%= errors.street.msg %></span>
                                  <% }%>
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">State</label>
                                <input class="form-control" id="inputLocation" type="text" name="state" placeholder="Enter your location" value="" required>
                                <% if (errors && errors.street ) { %>
                                    <span class="text-start text-danger"><%= errors.street.msg %></span>
                                  <% }%>
                            </div>
                        </div>

                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Country</label>
                                <input class="form-control" id="inputPhone" type="text" name="country" placeholder="Enter your phone number" value="" required>
                                <% if (errors && errors.street ) { %>
                                    <span class="text-start text-danger"><%= errors.street.msg %></span>
                                  <% }%>
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Zip code</label>
                                <input class="form-control" id="inputBirthday" type="text" name="zip_code" name="birthday" placeholder="Enter your zip code" value="" required>
                                <% if (errors && errors.street ) { %>
                                    <span class="text-start text-danger"><%= errors.street.msg %></span>
                                  <% }%>
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-dark" type="submit">Add new address</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var deleteButtons = document.querySelectorAll('.delete-btn');
    deleteButtons.forEach(function(deleteButton, index) {
        deleteButton.addEventListener("click", function(event) {
            event.preventDefault();
            var modalId = 'deleteModal_' + index; // Constructing modal id based on index
            var deleteModal = new bootstrap.Modal(document.getElementById(modalId));
            deleteModal.show();
        });
    });
});

</script>
<div class="fixed-bottom"><%- include('footer') %></div>