<style>
    body{margin-top:20px;
background-color:#f2f6fc;
color:#69707a;
}
.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #040a12;
    border-bottom-color: #010408;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
ul{
    list-style-type: none; 
    padding: 0px;
}
</style>
<%- include('nav-bar') %>
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4  ">
        <h1 class="page">My profile</h1>
      </div>
    <nav class="nav nav-borders">
        <a class="nav-link ms-0 " href="/user_profile" >My profile</a>
        <a class="nav-link active" href="/user_profile_address">Address management</a>
        <a class="nav-link" href="/user_profile_security" >Password management</a>
       
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row justify-content-center">

        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4 mt-2">
                <div class="card-header">You can edit your new address details here !</div>
                <div class="card-body">
                    <form  action="/user_profile_address_edit/<%= user.address[index]._id %>" method="post">
                        <!-- Form Row-->
                        <div class="row gx-3 mb-2">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Street</label>
                                <input class="form-control" id="street" type="text" name="street" placeholder="Enter your first name" value="<%= user.address[index].street %>" required>
                                <div id="streetError" class="text-start text-danger"></div>
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">City</label>
                                <input class="form-control" id="city" type="text" name="city" placeholder="Enter your last name" value="<%= user.address[index].city %>" required>
                                <div id="cityError" class="text-start text-danger"></div>
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">District</label>
                                <input class="form-control" id="district" type="text" name="district" placeholder="Enter your organization name" value="<%= user.address[index].district %>" required>
                                <div id="districtError" class="text-start text-danger"></div>
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">State</label>
                                <input class="form-control" id="state" type="text" name="state" placeholder="Enter your location" value="<%= user.address[index].state %>" required>
                                <div id="stateError" class="text-start text-danger"></div>
                            </div>
                        </div>

                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Country</label>
                                <input class="form-control" id="country" type="text" name="country" placeholder="Enter your phone number" value="<%= user.address[index].country %>" required>
                                <div id="countryError" class="text-start text-danger"></div>
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Zip code</label>
                                <input class="form-control" id="zip_code" type="text" name="zip_code" placeholder="Enter your zip code" value="<%= user.address[index].zip_code %>" required>
                                <div id="zip_codeError" class="text-start text-danger"></div>
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-dark" type="button" onclick="formValidate()">Edit address</button>
                        <a href="/user_profile_address">
                            <button class="btn btn-2 btn-dark" type="button">Go back</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function formValidate(){
    var street = document.getElementById('street').value.trim()
    var city = document.getElementById('city').value.trim();
    var district = document.getElementById('district').value.trim();
    var state = document.getElementById('state').value.trim();
    var country = document.getElementById('country').value.trim();
    var zip_code = document.getElementById('zip_code').value.trim();

    var streetError = document.getElementById('streetError');
    var cityError = document.getElementById('cityError');
    var districtError = document.getElementById('districtError');
    var stateError = document.getElementById('stateError');
    var countryError = document.getElementById('countryError');
    var zip_codeError = document.getElementById('zip_codeError');

     streetError.textContent = '';
     cityError.textContent = '';
     districtError.textContent = '';
     stateError.textContent = '';
     countryError.textContent = '';
     zip_codeError.textContent = '';


     if(street === ""){
        streetError.textContent = 'This form is required';
        return
     }

     if(city === ""){
        cityError.textContent = 'This form is required';
     }

     if(district === ""){
        districtError.textContent = 'This form is required';
        return
     }

     if(state === ""){
        stateError.textContent = 'This form is required';
        return
     }

     if(country === ""){
        countryError.textContent = 'This form is required';
        return
     }

     if(isNaN(zip_code)){
        zip_codeError.textContent = 'Enter a valid code';
        return

     }else if(zip_code === ''){
        zip_codeError.textContent = 'This form is required';
        return
     }

     document.getElementById("addAddressForm").submit();
}

</script>

<%- include('footer') %>